    @import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
    @import url('https://fonts.cdnfonts.com/css/kg-broken-vessels-sketch');

    body {
        background: #e0dcdc;    
        display: flex;
        align-items: center;
        height: 100vh;
        min-height: 100%;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        overflow-x: hidden;
    }
    .input-box label{
        font-size: medium;
    }

    label{
        text-align: right;
    }

    input {
        display: block;
        font-size: large;
        border: 2px solid #404040; 
        background-color: #f1eeee; 
        border-radius: 5px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    
    input::placeholder {
        color: #000; 
        opacity: 0.7; 
    }
        
    .bg-main {
        width: 100%;
        margin-top: auto;
        background-repeat: repeat-y;
        background-position: center;
        background-size: cover;
    }

.bg-fight {
    background-image: url("./images/sofa.jpg");
    height: 100%;
    margin-top: auto;
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}

    * {
        box-sizing: padding-box;
        font-family: "KG Broken Vessels Sketch", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;

    }

    .indexform {
        width: 1000px;
        border: 3px solid #000000;
        padding: 20px;
        background: #ded0be;
        border-radius: 20px;
        font-weight:100;
        font-size: 22px;
        margin-top: 30px;
    }

    .action label, .action input[type=checkbox], .action p {
        margin: auto;
        display: inline-block;
        width: auto;
        font-weight: 500;
        font-size: 30px;
        color: #ffffff;
        text-shadow: 5px 35px 50px #ded0be;
        padding: 10px;
    } 

    #choices {
        position: relative; 
        width: auto;
        font-weight: 500;
        font-size: 30px;
        color: #ffffff;
        text-align: center; 
        margin: 25px 0; 
    }

    #lblch {
        margin-top: 50%;
    }

    .blackboard-background {
        position: absolute; 
        margin-top: 10%; 
        left: 50%; 
        transform: translateX(-75%); 
        z-index: -1; 
    }

    .blackboard {
        width: 150%; 
        height: auto; 
    }

    #belowheader-fight h2 {
        background: #e1dede;
        border-radius: 10px;
        padding: 20px 50px;
        display: flex;
        top: 30%;
        margin-top: 50%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        font-weight: 200;
        border: 2px solid #000;
    }

    #belowheader-main h2 {
        background: #ded0be;
        border-radius: 10px;
        padding: 5px 50px;
        display: flex;
        margin-top: 70%;
        font-weight: 200;
    }

    #belowheader-main div {
        margin-top: 8%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    #choices h3 {
        color: #ffffff;
    }

    #login {
        text-align: center;
        margin: 20px 0 40px 0;
    }

    #login h2{
        font-weight: 100;
    }

    .parent {
        display: inline-block;
        margin-top: auto;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .child {
        display: inline-block;
        margin: 15% 5% 5% 5%;
        padding: 5px;
        color: #000000;
        background-color:#f1eeee;
        border-radius:10%;
        opacity: 90%;
        border: 2px solid #000;
    }

    .child h1{
        text-align: center;
        font-weight: 150;
    }

    #img-end {
        display: block;
        margin: auto;
        width: 75vw; 
        height: 650; 
        max-height: 100vh; 
        object-fit: contain; 
        
    }

    header {
        align-items: center;
        justify-content: space-between;
        position: fixed;
        left: 0;
        right: 0;
        align-items: center;
        font-size: 20px;
        padding: 1px;    
    }

    header h1,a {
        color: #000000;
        font-weight: 100;
        padding: 0px 10px;
        margin: 2.5px;        
    }

    header h1 {
        margin-left: auto;
        margin-right: auto;
    }

    header a {
        background-color:#f1eeee;
        border-radius: 5px;
        border: 2px solid #404040;
        text-decoration: none;      
        padding: 5px 45px;     

    }

    #res {
        display: inline-block;
        margin-left: 0.5px;
        text-align: right;

    }

    .navbar {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        padding: 10px; 
        background-color: #ded0be;
        height: 80px;
    }

    .title {
        margin: 0; 
    }

    .logout {
        display: inline-block; 
        text-decoration: none; 
        color: #000000; 
        font-weight: bold; 
        padding: 5px 10px; 
        border: 2px solid rgba(0, 0, 0, 0.5); 
        border-radius: 5px;
        background-color: #e0e0e0; 
        transition: background-color 0.3s, color 0.3s;
        margin-left: 25px; 
        margin-right: 25px;
    }

    .logout:hover {
        background-color: #d0d0d0; 
        color: #000; 
    }

    .logo {
        height: 80px; 
        width: 150px;
        margin-right: 80px; 
    }

    .title {
        display: flex;
        align-items:le; 
    }

    #headermain {
        background-color:#e0e0e0;
        border: #000000;
    }

    #headerfight {
        background-color: #441414;
    }

    .error {
        color: #ffffff;
        font-style: italic;
        font-weight: 50px;
    }
    .error-login {
        background-color: #441414;
    }

    input {
        display: block;
        font-size: large;
        border: 2px solid #000000;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        margin-bottom: 10px;
    }

    button {
        padding: 10px 20px;
        margin-top: 5px;
        font-size: 25px;
    }

    .img-btn {
        display: inline-block;
        padding: 10px;
        border: 1px solid #000000;
        cursor: pointer;       
    }

    .img-btn p {
        vertical-align: middle;
        margin-right: 5px;
        border-radius: 4px;
    }

    .img-btn img {
        vertical-align: middle;
        margin-right: 5px;
        height:180px;
        border-radius: 4px;
        margin-top: 20px;

    }
    
    .afacad-flux-fontstyle {
        font-family: "Afacad Flux", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
    }